

<div class="content" role="main">
  <button class="btn btn-primary">Danh sách giảng viên</button>
  <app-table [users]="teachers"></app-table>

  <div>
    <!--
      B1: gọi component con <app-name></app-name>
      B2: truyền dữ liệu động <app-name [name]="studentName"></app-name>
      B3: khai báo kiểu dữ liệu của name truyền vào trong file name.component.ts
     -->
    <div>
      tên sv : <app-name [name] = "studentName"></app-name>
      MSV: <app-identity [id] = "identity"></app-identity>
    </div>
    
  </div>





  <!-- Highlight Card -->
  