

<div class="content" role="main">
  <button class="btn btn-primary" (click)="changeStatusTable()">{{showStatus ? 'Ân' : 'Hiện'}} bảng teacher</button>
  <h1 (click)="clickH1()" >Giang viên{{schoolName}}</h1>
  <app-table [users]="teachers" *ngIf="showStatus"></app-table>

  <!-- cách 2 sử dụng class-->
  <!-- <app-table [users]="teachers" *ngIf="showStatus" class="{{showStatus ? 'display-block' : 'display-none'}}"></app-table> -->


<div>

  <div>
    <h1>Angular form</h1>
    <div>
      <app-form></app-form>
  </div>
  </div>

  <hr>

  
  <p>Form đăng kí thông tin giảng viên</p>
  <form>
    <div class="form-group">
      <label for="">Tên GV</label>
      <input type="text" class="form-control" (input)="onInput($event, 'name')" [value]="inputValues.name">
    </div>
    <div class="form-group">
      <label for="">Tuổi GV</label>
      <input type="number" class="form-control" (input)="onInput($event, 'age')" [value]="inputValues.age">
    </div>
    <div class="form-group">
      <label for="">Giới tính GV</label>
      <input type="radio" class="form-check" (input)="onInput($event, 'gender')" [value]="1" [checked]="inputValues.gender === '1'">Nam
      <input type="radio" class="form-check" (input)="onInput($event, 'gender')" [value]="0" [checked]="inputValues.gender === '0'">Nữ
    </div>
    <div class="form-group">
      <label for="">Ảnh GV</label>
      <input type="text" class="form-control" (input)="onInput($event, 'avatar')" [value]="inputValues.avatar">
    </div>
    <div class="form-group">
      <label for="">Trạng thái GV</label>
      <input type="radio" class="form-check" (input)="onInput($event, 'status')" [value]="1" [checked]="inputValues.status === '1'">Đang làm việc
      <input type="radio" class="form-check" (input)="onInput($event, 'status')" [value]="0" [checked]="inputValues.status === '0'">Đã nghỉ
    </div>
    <button class="btn btn-primary" type="button" (click)="onSubmit()">ADD</button>
  </form>
</div>

  <div>
    <!--
      B1: gọi component con <app-name></app-name>
      B2: truyền dữ liệu động <app-name [name]="studentName"></app-name>
      B3: khai báo kiểu dữ liệu của name truyền vào trong file name.component.ts
     -->
    <div>
      tên sv : <app-name [name] = "studentName"></app-name>
      MSV: <app-identity [id] = "identity"></app-identity>
    </div>

    <div>
      <form>
        <input type="text" (keydown)="changeInput($event)" [value]="inputValue">{{inputValue}}
      </form>
    </div>
    
  </div>





  <!-- Highlight Card -->
  