<span class="text-danger" *ngIf="(field.dirty || field.touched) && field.errors?.['required']">{{key}} k đc để trống</span>
<span class="text-danger" *ngIf=" (field.dirty || field.touched) && field.errors?.['minlength']"> {{key}} phải từ {{field.errors?.['minlength'].requiredLength}}</span>
<span class="text-danger" *ngIf="(field.dirty || field.touched) && field.errors?.['min']">{{key}} tối thiểu là {{field.errors?.['min']}}</span>
<span class="text-danger" *ngIf="(field.dirty || field.touched) && field.errors?.['max']">{{key}} tối đa là {{field.errors?.['max']}}</span>
<span class="text-danger" *ngIf="(field.dirty || field.touched) && field.errors?.['required']">{{key}} k đc để trống</span>
<span class="text-danger" *ngIf="(field.dirty || field.touched) && field.errors?.['email']">{{key}} phải đúng định dạng</span>
