<!-- định nghĩa biến để quản lí form -->
<button class="btn btn-success"><a routerLink="/admin/products">DANH SÁCH</a></button>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
<div class="form-group">
   <label for="">NAME</label>
   <!-- định nghĩa thuộc tính để lắng nghe input -->
   <input type="text" class="form-control" formControlName="name">
   
   <app-show-validate [field]="productForm.get('name')" key="Tên sản phẩm"></app-show-validate>
</div>
<div><button class="btn btn-success" [disabled]="!productForm.valid">Submit</button></div>
</form>
